.container {
  padding-top: 20px;
}

h1.main {
  text-align: center;
}

thead tr td {
  font-weight: bold;
}

.centre-details {
  padding: 20px;
  border: 1px solid red;
  border-radius: 0.8em;
}

/* Hide arrows in pincode input */
#pincode::-webkit-outer-spin-button,
#pincode::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#pincode[type=number] {
  -moz-appearance: textfield;
}